<<<<<<< HEAD
@font-face {
  font-family: "Pretendard Variable";
  font-weight: 100 900;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/woff2/PretendardVariable.woff2") format("woff2-variations");
}

=======
>>>>>>> 9cd9cee1b91d23cf70a82674c51eefec8dbb1ca9
body {
  margin: 0;
  margin-top: 50px;
  padding: 0;
<<<<<<< HEAD
  font-family: "Pretendard Variable", Arial, sans-serif;
}

.shop-container {
  width: 1280px;
=======
  font-family: Arial, sans-serif;
}

.shop-container {
  width: 80%;
>>>>>>> 9cd9cee1b91d23cf70a82674c51eefec8dbb1ca9
  margin: 0 auto;
  padding: 20px 0;
}

.shop-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.shop-header button {
  border: none;
  background: none;
  font-size: 26px;
  color: #000;
  cursor: pointer;
  padding: 8px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.shop-header button:hover {
  transform: scale(1.2); 
  color: #555;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.shop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.shop-item .placeholder {
  width: 223px;
  height: 100px;
  border: 1px dashed #ccc; /* 임시로 보더 줌 사진없어서;; */
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.shop-item .placeholder:hover {
  transform: scale(1.05);
  background-color: #f9f9f9;
}

.shop-item p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}