@font-face {
  font-family: "Pretendard Variable";
  font-weight: 100 900;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/woff2/PretendardVariable.woff2") format("woff2-variations");
}
  body {
    margin: 0;
    padding: 20px;
    font-family: "Pretendard Variable", Arial, sans-serif;
  }

  .header {
    width: 1280px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
  }

  .header h2 {
    font-size: 1.5rem;
    margin: 0;
    display: inline-block;
  }

  .header a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 10px;
  }

  .container {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .brand-card {
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .brand-card a {
    text-decoration: none;
    color: black;
  }

  .brand-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
  }

  .brand-card img:hover {
    transform: scale(1.1);
  }

  .brand-card .brand-name {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }

  .brand-card .brand-name a {
    text-decoration: none;
    color: black;
  }

  .brand-card .actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .brand-card .actions .button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .brand-card .actions .button:hover {
    background-color: #333;
  }

  /* 저장된 상태 스타일 */
  .brand-card .actions .button.saved {
    background-color: white;
    color: black;
  }